<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Error</title>
</head>
<body>
<center>
    <h1 th:text="${status} + ' ' + ${error}"></h1>
	<font size="5" color="red">何らかの問題が発生しました。</font><br><br>
	<font size="3" color="blue">エラー</font><br>
	<font size="3" color="blue">エラーが発生しています。</font><br><br>
    <form method="post" th:action="@{/logout}">
        <button class="btn btn-link" type="submit">ログイン画面に戻る</button>
    </form>
</center>
</body>
</html>