<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<meta charset="UTF-8">
		<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet">
		<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
		<title>ホーム</title>
		</head>
		<body class="text-center">
		<h1>ホーム</h1><font size="1"><br></font>
<font size="3" color="blue"><span th:text="${thename}"></span>さん（<span th:text="${theage}"></span>歳）こんにちは。</font><br>
<font size="3" color="blue">気になる方に「いいね」してみましょう。</font><br>

年齢による絞り込み<br>
<form method="post" th:action="@{/shiborichi}" th:object="${shiborichiBox}">
<input type="text" th:field="*{min}">歳から、<input type="text" th:field="*{max}">歳まで。
<button class="btn btn-warning" type="submit">絞り込む！</button>
</form>

	<div th:fragment="userList_contents">
		<table class="table table-bordered table-hover table-striped">
			<tr>
			<th class="info col-sm-2">名前</th>
			<th class="info col-sm-2">年齢</th>
			<th class="info col-sm-2">状態</th>
			<th class="info col-sm-2">いいねボタン</th>
			<th class="info col-sm-2">いいね解除ボタン</th>
			<th class="info col-sm-2">よくないボタン</th>
			</tr>
			<tr th:each="user : ${userList}">
			<td th:text="${user.name} + 'さん'"></td>
			<td th:text="${user.age} + '歳'"></td>
			<td>
			<span th:if="${user.shukantekistate == 0}">
			お互いにいいねしていません。
			</span>
			<span th:if="${user.shukantekistate == 1}">
			あなたのみいいねしています。
			</span>
			<span th:if="${user.shukantekistate == 2}">
			相手のみいいねしています。
			</span>
			</td>
			<td>
			<span th:if="${user.shukantekistate == 0 || user.shukantekistate == 2}">
				<a class="btn btn-primary"  type="submit" th:href="@{'/iineshita/' + ${user.matchingid} +  '/' + ${min} +  '/' + ${max} + '/' + ${shibotteru}}">
				いいねする
				</a>
			</span>
			</td>
			<td>
			<span th:if="${user.shukantekistate == 1}">
				<a class="btn btn-primary"  type="submit" th:href="@{'/iineshitakaijo/' + ${user.matchingid} +  '/' + ${min} +  '/' + ${max} + '/' + ${shibotteru}}">
				いいね解除する
				</a>
			</span>
			</td>
			<td>
			<a class="btn btn-primary"  type="submit" th:href="@{'/yokunai/' + ${user.matchingid} +  '/' + ${min} +  '/' + ${max} + '/' + ${shibotteru}}">
			よくないする
			</a>
			</td>
			</tr>
		</table>
	</div>

	<div class="row">
	<div class="col-sm-4">
		<form method="get" th:action="@{/hometomatching}">
			<button class="btn" type="submit">マッチング画面にいく</button>
		</form>
	</div>
		
	<div class="col-sm-4">
		<form method="get" th:action="@{/hometoupload}">
			<button class="btn" type="submit">画像アップロード画面にいく</button>
		</form>
	</div>
		
	<div class="col-sm-4">
		<form method="post" th:action="@{/logout}">
			<button class="btn" type="submit">
				ログアウト
			</button>
		</form>
	</div>
	</div>
	</body>
</html>