<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  lang="ja">
	<head>
		<meta charset="UTF-8">
		<link th:href="@{webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet">
		<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
		<title>メッセージ画面</title>
	</head>
		<body class="text-center">
		<h1>メッセージ画面</h1><br>

<font size="3" color="blue"><span th:text="${hisname}"></span>さんとのメッセージ画面です。</font><br>

	<div th:fragment="messagetoShow_contents">
	<table class="table table-bordered">
		<tr>
		<th class="bg-dark"><p class="text-center">内容（男性がブルー、女性がピンクです。）</p></th>
		</tr>
		<tr th:each="message : ${messagetoShow}">
		<span th:if="${message.sex == true}">
		<td th:text="${message.messagecontent}" class="bg-info"></td>
		</span>
		<span th:if="${message.sex == false}">
		<td th:text="${message.messagecontent}" class="bg-danger"></td>
		</span>
		</tr>
	</table>
	</div>

		<!-- メッセージ入力欄 -->
       <form method="post" th:action="@{/newmessage}" th:object="${messageBox}">
            <table class="table table-bordered table-hover">
                <tr>
                    <th class="active col-sm-3"><p class="text-center">入力欄</p></th>
                    <td>
                        <div class="form-group" th:classappend="${#fields.hasErrors('nowwritten')} ? 'has-error'">
                            <input type="text" class="form-control" th:field="*{nowwritten}" />
                            <span class="text-danger" th:if="${#fields.hasErrors('nowwritten')}"
                                th:errors="*{nowwritten}"> error </span>
                        </div>
                    </td>
                </tr>
            </table>
            <ul>
                <li th:each="error : ${#fields.detailedErrors()}">
                    <span th:text="${error.message}">Error message</span>
                </li>
            </ul>
            <button class="btn btn-primary" type="submit">メッセージ入力</button>
        </form>


			<form method="get" th:action="@{/messagetomatching}">
				<button class="btn-link" type="submit">マッチング画面にいく</button>
			</form>

			<form method="post" th:action="@{/logout}">
				<button class="btn btn-link pull-right navbar-brand" type="submit">ログアウト</button>
			</form>

	</body>
</html>